.input{
    width: 16rem;
}
.navbar{
    box-shadow: 1px 1px 5px gray;
}
.menu{
    width: 30px;
}









.footer{
    background-color: black;
    color: white;
}
.footer-child ul{
    list-style-type: none;
}
.small-foot{
    background-color: black;
    color: rgb(91, 89, 89);
}
